.section {
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4.8rem;
}

.left {
  h5 {
    font-weight: normal;
    margin-bottom: 4rem;
  }
}

.container {
  margin-top: 3.2rem;
  width: 60rem;
  aspect-ratio: 2/1;
  border: solid 4px black;
  box-shadow: 1rem 1rem black;
}

.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
