.section {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 4.8rem;
}

.left {
  h5 {
    font-weight: normal;
    margin-bottom: 4rem;
  }
}

.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 2rem;
}

.cta {
  padding: 1rem 2rem;
  border-radius: 2.4rem;
  background-color: black;
  border: none;
  color: white;
  margin-bottom: 2.4rem;
}

.interested {
  display: block;
  margin-bottom: 1.6rem;
  margin-top: 2.4rem;
}

.heading {
  font-size: 3rem;
  font-family: 'Arimo', sans-serif;
}

.subheading {
  font-size: 1.8rem;
  display: block;
  font-family: 'Arimo', sans-serif;
  width: fit-content;
  margin: 0 auto 6.4rem;
}

.socials {
  margin-top: 4rem;
  padding-right: 2rem;
  display: flex;
  justify-content: end;
  gap: 2.4rem;
  img {
    max-width: 5.6rem;
    aspect-ratio: 1/1;
  }
}
