.section {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 4.8rem;
}

.left {
  h5 {
    font-weight: normal;
    margin-bottom: 4rem;
  }
}

.right {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0 2rem;
}

.cta {
  padding: 1rem 2rem;
  border-radius: 2.4rem;
  background-color: black;
  border: none;
  color: white;
  margin-bottom: 2.4rem;
}

.interested {
  display: block;
  margin-bottom: 1.6rem;
  margin-top: 2.4rem;
}
