.container {
  margin-top: 3.2rem;
  margin-inline: auto;
  max-width: 80rem;
  height: 44rem;
  border: solid 4px black;
  box-shadow: 1rem 1rem black;
  position: relative;
  background-image: url(../../assets/background.png);
}

.steps-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: white;
  padding: 1rem;
}

.step {
  position: absolute;
  padding: 2rem 4rem;
  transition: all 0.3s;
  h3 {
    margin-bottom: 4.8rem;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.ctrl {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  border: none;
  height: 5.6rem;
  width: 5.6rem;
  border-radius: 50%;
  font-size: 2.4rem;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transition: all 0.3s;
  line-height: 0;
  &:hover {
    background-color: black;
  }
}

.prev {
  left: 0;
}
.next {
  right: -6rem;
}

.indicators {
  display: flex;
  gap: 1rem;
  margin: 0 auto;
  width: fit-content;
  margin-top: -4rem;
}
.indicator {
  height: 1rem;
  width: 4rem;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  transition: background-color 0.3s;
}

.active {
  background-color: black;
}
